<%= simple_form_for :session, url: session_path do |form| %>
  <%= form.input :email, as: :email, required: false %>
  <%= form.input :password, as: :password, required: false%>

  <div class="actions">
    <%= form.button :submit, class: 'red' %>
  </div>
<% end %>
