<div class="padded-row">
  <div id="clearance" class="sign-in">
    <h1><%= t '.title' %></h1>
    <p><%= t '.text' %></p>
    <p class="dots">
      <span class="green">&#8226;</span>
      <span class="red">&#8226;</span>
      <span class="blue">&#8226;</span>
    </p>
    <%= render partial: '/sessions/form' %>
  </div>
</div>
