<html>
<head>
  <style type="text/css">
  body {
    -webkit-font-smoothing: antialiased;
    color: rgb(30, 30, 30);
    font-family: 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 24px;
    margin: auto;
    max-width: 38em;
    text-rendering: optimizelegibility;
  }
  h1 {
    font-weight: 300;
    font-size: 2em;
  }
  a {
    color: rgb(249, 112, 116);
    transition: all 1s ease;
    cursor: pointer;
    text-decoration: underline;
  }
  a:hover {
    color: rgb(249, 112, 116);
    text-shadow: 0 0 3px #aaa;
  }
  .header { text-align: center; }
  p {
    margin-bottom: 6px;
    margin-top: 6px;
  }
  .dots {
    font-size: 5em;
    font-family: monospace;
    line-height: 1em;
    margin: 0;
    padding-top: .2em;
  }
  .dots > span {
    padding: 0 .15em;
  }
  .green {
    color: #26e1a0;
  }
  .red {
    color: #f97074;
  }
  .blue {
    color: #22c8db;
  }
  </style>
</head>
<body>
  <div class="header">
    <h1>Camp Buddy</h1>
    <p class="dots">
      <span class="green">•</span><span class="red">•</span><span class="blue">•</span>
    </p>
  </div>
  <div>
    <%= raw GitHub::Markup.render('mail.md', replace_variables(@text)) %>
  </div>
</body>
</html>
