<h1 class="title"><%= group.name %></h1>

<ul class="attendees">
  <%= render group.users %>
</ul>


<h1 class="title">Unsere Events</h1>

<div class="event">
  <div class="gray">
    <div class="date-time">fr<br>17:00</div>
    <h1>Smallgroup</h1>
    <div class="description">Zeit mit deinen Freunden</div>
    <!--this should be link with id, not to new membership.-->
    <%#= link_to '', new_membership_path%>
  </div>
  <div class="gray">
    <div class="date-time">sa<br>7:30</div>
    <h1>Packen</h1>
    <div class="description">Alle Gep채cksst체cke m체ssen um 7:30 bei der Mensa bereitstehen</div>
    <!--this should be link with id, not to new membership.-->
    <%#= link_to '', new_membership_path%>
  </div>
  <div class="gray">
    <div class="date-time">sa<br>9:30</div>
    <h1>Aufr채umen</h1>
    <div class="description">Putzen ist angesagt. Was genau deine Aufgabe ist, findest du bei deinen Angeboten. Sonst wende dich bitte an deinen Smallgroup Leiter. Sonst wende dich bitte an deinen Smallgroup Leiter.</div>
    <!--this should be link with id, not to new membership.-->
    <%#= link_to '', new_membership_path%>
  </div>
</div>
