<%= render @leading %>
<% if @groups.any? %> <!-- or current_user.owned_events.any? -->
  <%= render @groups %>
<% else %>
  <div class="no-entity">
    <h1><%= t('.no_groups.title') %></h1>
    <p><%= t('.no_groups.text') %></p>
  </div>
<% end %>
