<div class="detail-nav">
  <span onclick="window.history.back()"><%= icon(:"chevron-left") %></span>
  <h1>Profil</h1>
  <p>bearbeiten</p>
</div>
<div class="form-stuff">
  <%= render 'form' %>
</div>