<div class="detail-nav full-row">
  <%= back_link @user, class: 'back' %>
  <div class="title">
    <h1><%= t('.title') %></h1>
    <h2><%= t('shared.edit') %></h2>
  </div>
</div>

<div class="padded-row">
  <%= render 'form' %>
</div>
