// Typography
$open-sans: 'Open Sans Light';
$sans-serif: $helvetica;
$serif: $georgia;
$base-font-family: $open-sans, $sans-serif;
$header-font-family: $base-font-family;

// Sizes
$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$unitless-line-height: $base-line-height / ($base-line-height * 0 + 1); // Strip units from line-height: https://developer.mozilla.org/en-US/docs/Web/CSS/line-height#Prefer_unitless_numbers_for_line-height_values
$header-line-height: $base-font-size * 1.25;
$base-border-radius: em(3);

$date-time-size: $base-font-size * 1.9;
$detail-title-size: 1.8em;

// Colors
$blue: #22c8db;
$red: #f97074;
$green: #26e1a0;
$dark-gray: #1e1e1e;
$medium-gray: #535a6a;
$light-gray: #ededef;
$light-white: rgba(255, 255, 255, 0.8);
$light-black: rgba(5, 5, 5, 0.8);
$dark-blue: #224478;
$yellow: #fec26c;
$nprogress-color: $medium-gray;
//$nprogress-height: 5px;

$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

// Background Color
$base-background-color: white;

// Font Colors
$base-font-color: $dark-gray;
$base-accent-color: $blue;

// Link Colors
$base-link-color: $base-accent-color;
$hover-link-color: darken($base-accent-color, 15);
$base-button-color: $base-link-color;
$hover-button-color: $hover-link-color;

// Border color
$base-border-color: $light-gray;

// Flash Colors
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-color-error: $red;
$form-border-color-hover-error: darken($red, 10);
$form-border-color-focus-error: $red;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-box-shadow-error: inset 0 1px 3px rgba(0,0,0,0.06);
$form-box-shadow-focus-error: $form-box-shadow-error, 0 0 5px rgba(darken($red, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;

// Transition Speeds
$transition-fast: 0.2s;
$transition-medium: 1s;
$transition-slow: 3s;
