<!--
<%= icon('plus-square') %>
<%= icon('phone-square') %>
<hr>
<h1 class="title">News Feed</h1>
<hr>
-->
<h1 class="title">Insta Feed</h1> <span class="hashtag">#icfzurich</span>
<!-- SnapWidget -->
<script src="http://snapwidget.com/js/snapwidget.js"></script>
<iframe src="http://snapwidget.com/in/?h=aWNmenVyaWNofGlufDEyNXwzfDE1fHxub3wyfG5vbmV8b25TdGFydHxub3x5ZXM=&ve=181014" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
