<div class="news-feed">
  <a href="tel:0041764477449" class="call">
    <span>NOTFALL</span>
    <%= ico('50-magnifier-plus') %>
  </a>
<hr>
<h1><%= News.model_name.human count: 2 %></h1>
<%= render @news %>
<hr>
<h1 class="left">Insta Feed</h1> <span class="hashtag">#oywintercamp</span>
</div>

<!-- independant instagram solution -->
<iframe src="http://plusa.ch/projects/instafeed/oywintercamp15.html" scrolling="no" allowtransparency="true" style="width:100%; height: 900px; border: 0; overflow: hidden; padding: 5px;"></iframe>

<!-- INSTANSIVE WIDGET: Updated once a day -->
<!-- 
<script src="//instansive.com/widget/js/instansive.js"></script>
<iframe src="//instansive.com/widgets/91a2780f137e5b53461239a6aeb2ae0eadf59b44.html" id="instansive_91a2780f13" name="instansive_91a2780f13"  scrolling="no" allowtransparency="true" class="instansive-widget" style="width: 100%; border: 0; overflow: hidden; padding: 5px;"></iframe>-->