<div class="padded-row">
  <a href="tel:0041764477449" class="call">
    <span>NOTFALL</span>
    <%= ico('50-magnifier-plus') %>
  </a>
  <hr>
</div>

<div class="padded-row">
  <h1><%= News.model_name.human count: 2 %></h1>
  <%= render @news %>
  <hr>
</div>

<div class="padded-row">
  <h1>Insta Feed
    <small>#oywintercamp</small>
  </h1>
</div>
<div class="full-row instagram-feed" data-instagram-tag="oywintercamp" data-instagram-client-id="5f65f602eea445458472fa91247231de"></div>
