.event{
  margin-top: 15px;
}

/*activity categories*/

/*activity descriptions*/
.event > div {
  @include clearfix;
}
.event img{
  display: block;
  float: left;
  width: 37.5%; /*von 320px zu 120px*/
  min-width: 120px;
}
.event h1 {
  @include small-bold-title();
  width: 52%; /*von 320 zu 165*/
  float: right;
  margin-top: 15px;
}
.event .description {
  @include small-desc-text();
  width: 52%; /*von 320 zu 165*/
  float: right;
  margin-bottom: 15px;
}
.event > div > a {
  display: block;
  width: 100%;
  height: 85px;

  z-index: 10;
  position: relative;
}
