.attendees {
  padding-top: .4em;

  li {
    display: inline-block;
    width: 60px;
    vertical-align: top;
    text-align: center;

    &.space {
      color: $red;
      .count {
        border-radius: 100%;
        width: 56px;
        height: 56px;
        text-align: center;
        padding-top: 4px;
        font-size: 2em;
        font-weight: 300;
        color: #fff;
        background-color: $red;
      }
    }
  }

  .image {
    border-radius: 100%;
    overflow: hidden;
    width: 56px;
    height: 56px;
  }

  .image > img {
    width: 56px;
    height: 56px;
  }

  .name {
    width: 56px;
    text-align: center;
    font-size: .8em;
    line-height: 1.1em;
  }
}
