.btn {
  padding: .5em .7em;

  display: inline-block;
  white-space: nowrap;

  box-shadow: 0 0 20px -5px #535a6a;
}

.btn.red {
  background: $red;
  color: #fff;

  &:hover {
    background: darken($red, 5)
  }
}
