.emergency-numbers li {
  @include span-columns(6);
  @include omega(2);

  line-height: 3em;

  .icon {
    height: 1.9em;
    width: 3em;
  }

  a {
    color: $dark-gray;
    font-weight: 600;
    font-size: 0.9em;
  }
}
