.event-entry {
  @include outer-container;
  position: relative;
  height: 5.5em;
  box-shadow: 0 1px 0 $light-gray;
  clear: both;

  a {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
  }
  .color-stripe {
    display: block;
    float: left;
    background-color: $medium-gray;
    height: 100%;
    width: 0.4em;
  }
  .event-infos {
    display: block;
    float: left;
    width: calc(100% - 0.4em);

    .start-time, .event-image {
      width: 34%;
      display: block;
      float: left;
      text-transform: uppercase;
      font-size: 1.9em;
      line-height: 28px;
      padding: 0.5em 0 0 0.5em;
    }
    .event-image{
      padding: 0;
      overflow: hidden;
      height: 2.9em;

      img {
        height: 2.9em;
      }
    }
    .info {
      display: block;
      width: 56%;
      float: left;
      margin: 1em 0 0 0;
      line-height: 1em;

      .title {
        @include small-bold-title;
        line-height: 1.25;
        display: block;
      }
      .description {
        font-size: .9em;
      }
    }
    .link{
      display: inline-block;
      position: relative;
      top: 1.6em;
      width: 10%;
      overflow: hidden;

      i {
        color: #ededef;
        font-size: 2em;
      }
    }
  }

  &.red .color-stripe {
    background-color: $red;
  }
  &.green .color-stripe {
    background-color: $green;
  }
  &.blue .color-stripe {
    background-color: $blue;
  }
  &.royal .color-stripe {
    background-color: $dark-blue;
  }
  &.yellow .color-stripe {
    background-color: $yellow;
  }
}

.events .event {
  @include outer-container;
}

.events > h1 {
  padding: 0.3em 0.3em 0.1em 0.3em;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(221,221,221,0.45)), color-stop(60%,rgba(255,255,255,0)));  /*Chrome,Safari4+ */
  background: gradient(linear, left bottom, left top, color-stop(0%,rgba(221,221,221,0.65)), color-stop(60%,rgba(255,255,255,0)));
}

.events-show {
  .title-pic {
    z-index: 0;
    position: fixed;
    top: 85px;
    right: 0;
    height: 180px;
    width: 100%;
    overflow: hidden;
    background-size: cover;

    -webkit-transform: translate3d(0, 0, 0);
  }

  .title-pic img{
    width: 100%;
    min-width: 320px;
    min-height: 180px;
  }
}

.events-show .event {
  z-index: 2;
  position: relative;
  margin-top: 265px;
  background-color: #fff;

  -webkit-transform: translate3d(0, 0, 0);

  .partipicate, .partipicate-mandatory {
    position: absolute;
    top: -35px;
    right: 0;
    left: 0;
    text-align: right;
    padding-right: 15px;
    color: #333;
    font-size: 1.3em;
    background: rgba(255,255,255,0.8);
    cursor: pointer;

    .checked, .mandatory, .occupied{
      display: none;
    }
    .checked i {
      color: $green;
    }
    .mandatory i {
      color: $red;
    }
    i {
      position: relative;
      top: 3px;
    }
    &.yes {
      .checked{
        display: inline;
      }
      .unchecked {
        display: none;
      }
    }
  }

  .partipicate-mandatory {
    .occupied, .mandatory{
      display: block;
    }
    .unchecked, .checked {
      display: none;
    }
  }

  ul {
    padding: 16px 0 0 13px;

    ul {
      padding: 0;
    }
  }

  li {
    @include clearfix;
  }
  .icon {
    float: left;
    width: 9%;
    max-width: 2em;
    font-size: 1.4em;
    color: #000;
  }
  .text {
    float: left;
    width: 85%;
    margin: 2px 16px 0 0;
  }
  .text > h1 {
    margin: 4px 0 0 0;
    @include small-bold-title();
  }
}

.events.events-edit,
.events.events-update
{
  form {
    margin-top: 85px;
  }
}
.no-entity{
  padding: 20px;
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
