.events .event {
  @include outer-container;

  border-left: 5px solid $medium-gray;
  border-bottom: 1px solid $light-gray;

  .impression {
    @include span-columns(3);
  }

  .date-time {
    @include span-columns(3);
    text-transform: uppercase;
    font-weight: 300;
    font-size: $date-time-size;
    padding-top: 8px;
    line-height: 28px;
    padding-left: 0.2em;
  }

  .details {
    @include span-columns(8);
    h1{
        @include small-bold-title;
        margin-top: 10px;
      }
      .description{
        font-size: 12px;
        font-weight: 300;
      }
  }

  .link {
    @include span-columns(1);
    text-align: right;
    font-size: 3em;
    padding: 0;
    height: 100%;
  }

  &.red{
    border-left-color: $red;
  }
  &.green{
    border-left-color: $green;
  }
  &.blue{
    border-left-color: $blue;
  }
  &.royal{
    border-left-color: $dark-blue;
  }
  &.yellow{
    border-left-color: $yellow;
  }
}

.events-show {
  .title-pic {
    z-index: 0;
    position: fixed;
    top: 85px;
    right: 0;
    height: 180px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
  }

  .title-pic img{
    width: 100%;
    min-width: 320px;
    min-height: 180px;
  }
}

.events-show .event {
  z-index: 2;
  position: relative;
  margin-top: 265px;
  background-color: #fff;

  .partipicate, .partipicate-mandatory {
    text-align: right;
    padding-right: 15px;
    width: 100%;
    position: absolute;
    top: -35px;
    color: #333;
    font-size: 1.3em;
    background: rgba(255,255,255,0.8);
    cursor: pointer;

    .checked, .mandatory, .occupied{
      display: none;
    }
    &.yes {
      .checked{
        display: inline;
      }
      .unchecked {
        display: none;
      }
    }
  }

  .partipicate-mandatory {
    .occupied, .mandatory{
      display: block;
    }
    .unchecked, .checked {
      display: none;
    }
  }

  ul {
    padding: 30px 0 0 12px;

    ul {
      padding: 0;
    }
  }
  .attendees > li {
    margin: 0;

    &.space {
      color: $red;
      .count {
        box-shadow: 0 0 20px -5px #535a6a;
        border-radius: 56px;
        width: 56px;
        height: 56px;
        margin: 0 2px 2px 2px;
        text-align: center;
        box-sizing: border-box;
        padding-top: 4px;
        font-size: 2em;
        font-weight: 300;
        color: #fff;
        background-color: $red;
      }
    }
  }

  li {
    @include clearfix;
  }
  .icon {
    float: left;
    width: 25px
  }
  .text {
    float: left;
    width: 265px;
    margin: 0 16px 0 0;
  }
  .text > h1 {
    margin: 4px 0 0 0;
    @include small-bold-title();
  }
}
