.event-entry {
  @include outer-container;
  position: relative;
  height: 5.5em;
  box-shadow: 0 1px 0 $light-gray;
  clear: both;

  a {
    display: block;
    width: 100%;
    height: 100%;
    color: #000;
  }
  .color-stripe {
    display: block;
    float: left;
    background-color: $medium-gray;
    height: 100%;
    width: 0.4em;
  }
  .event-infos {
    display: block;
    float: left;
    width: calc(100% - 0.4em);

    .start-time, .event-image {
      width: 34%;
      display: block;
      float: left;
      text-transform: uppercase;
      font-size: 1.9em;
      line-height: 28px;
      padding: 0.5em 0 0 0.5em;
    }
    .event-image{
      padding: 0;
      overflow: hidden;
      height: 2.9em;

      img {
        height: 2.9em;
      }
    }
    .info {
      display: block;
      width: 56%;
      float: left;
      padding: .5em 0em;
      line-height: 1em;

      .title {
        @include small-bold-title;
        line-height: 1.25;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      .description {
        font-size: .9em;
      }
    }
    .link{
      display: inline-block;
      position: relative;
      top: 1.6em;
      width: 10%;
      overflow: hidden;

      i {
        color: #ededef;
        font-size: 2em;
      }
    }
  }

  &.red .color-stripe {
    background-color: $red;
  }
  &.green .color-stripe {
    background-color: $green;
  }
  &.blue .color-stripe {
    background-color: $blue;
  }
  &.royal .color-stripe {
    background-color: $dark-blue;
  }
  &.yellow .color-stripe {
    background-color: $yellow;
  }
}

.events .event {
  @include outer-container;
}

.events > h1 {
  padding: 0.3em 0.3em 0.1em 0.3em;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba(221,221,221,0.45)), color-stop(60%,rgba(255,255,255,0)));  /*Chrome,Safari4+ */
  background: gradient(linear, left bottom, left top, color-stop(0%,rgba(221,221,221,0.65)), color-stop(60%,rgba(255,255,255,0)));
}

.events-show {
  .title-pic img {
    width: 100%;
    min-width: 320px;
    min-height: 180px;
  }

  .participation {
    font-size: 1.3em;

    div {
      .icon {
        height: 2em;
        width: 1.5em;
      }

      &.group-only,
      &.mandatory {
        svg {
          fill: $red;
        }
      }

      &.yes, &.no {
        cursor: pointer;
      }
    }
  }

  .event {
    li {
      @include outer-container;
      margin-top: 1em;

      li {
        margin-top: 0;
      }
    }
    .icon {
      max-width: 2em;
      height: 2em;
      @include span-columns(2);
    }

    .text {
      @include span-columns(10);
      padding-top: .3em;
    }

    .text > .title {
      @include small-bold-title();
    }

    .attendees + .title {
      margin-top: 1.3em;
      display: inline-block;
    }
  }
}

.no-entity{
  padding: 20px;
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
