.flash{
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  text-align: center;
  min-height: 25px;
}
.flash.notice {
  @extend %flash-notice;
}
.flash.success {
  @extend %flash-success;
}
.flash.error {
  @extend %flash-error;
}
.flash.alert {
  @extend %flash-alert;
}
