form {
  .field {
    border-bottom: 1px solid $light-gray;
  }

  label {
    display: inline-block;
    width: 150px;
    max-width: 2000px;
    font-weight: 400;
    margin: 5px 15px 5px 0;
  }

  .image_preview {
    @include outer-container;

    label {
      @include span-columns(12);
    }

    img {
      @include span-columns(4);
    }
    input {
      @include span-columns(8);
    }
  }

  .actions {
    padding-top: 2em;
  }
}

