form {
  .field {
    border-bottom: 1px solid $light-gray;
  }

  label {
    display: inline-block;
    width: 150px;
    max-width: 2000px;
    font-weight: 400;
    margin: 5px 15px 5px 0;
  }

  div.image_preview > label {
    display: block;
  }

  .image_preview img {
    width: 85px;
    height: 85px;
    padding: 0;
    margin: 0;
    border-radius: 85px;
    overflow: hidden;
    display: block;
    float: left;
  }
}

