.group-detail {
  h1 {
    padding: .5em 0;

    .avatar {
      vertical-align: middle;
      height: 56px;
      width: 56px;
    }

    small {
      font-size: 0.5em;
    }
  }

  & + .group-detail {
    margin-top: 1em;
  }
}
