html { height: 100% }
body {
  margin: 0;
  font-weight: 300;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &.webapp {
    padding-top: 20px;

    #status-bar {
      display: block;
      position: fixed;
      z-index: 13;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 20px;
      background-color: $green;
      box-shadow: 0 0 4px $medium-gray;
    }
  }
}

small {
  font-size: .7em;
}

section.content {
	padding-bottom: 34px;
  @include outer-container;
}

.full-row {
  padding: 0;
  margin: 0;
  @include clearfix;
}

.padded-row {
  padding: .4em 1em;
  @include clearfix;
}

.full-row + .padded-row {
  padding-top: 1.2em;
}

img.avatar {
  width: 6em;
  height: 6em;
  padding: 0;
  margin: 0;
  border-radius: 6em;
  overflow: hidden;
}


/*for webapp*/
#status-bar {
  display: none;
}
.site-fader {
  background:white;
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index:14;
}

.icon {
  display: inline-block;
  width: 100%;
  max-width: 3em;
  position: relative;

  svg {
    fill: $dark-gray;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-55%);
  }

  &.red {
    svg {
      fill: $red;
    }
  }

  &.green {
    svg {
      fill: $green;
    }
  }

  &.blue {
    svg {
      fill: $blue;
    }
  }
}
