body {
  margin: 0;
}

section.content {
	margin-bottom: 34px;
  @include outer-container;
}

.full-row {
  padding: 0em;
  margin: 0em;
}

.padded-row {
  padding: .4em 1em;
}

div.image_preview {
   @include clearfix;
}

nav.day{
  padding: 4px;
}

img.avatar {
  width: 6em;
  height: 6em;
  padding: 0;
  margin: 0;
  border-radius: 6em;
  overflow: hidden;
}
