.sessions-new,
.sessions-create {
  height: 100%;

  #main-wrapper,
  .content {
    height: 100%;
  }

  #clearance {
    margin: 4em auto;
    width: 80%;
    text-align: center;

    form {
      text-align: left;
    }

    h1 {
      margin: 0 0 .8em;
    }

    p {
      margin: .4em 0;
    }

    p.dots {
      font-size: 3em;
      margin: .1em 0;

      .green {
        color: $green;
      }
      .red {
        color: $red;
      }
      .blue {
        color: $blue;
      }
    }
  }

  .actions,
  .other-links {
    text-align: center;
    margin: 1.5em;
  }

  .other-links a {
    display: block;

    & + a {
      margin-top: .5em;
    }
  }

  a {
    color: $base-font-color;
  }
}
