nav {
  font-size: 0;
  a {
    @include transition($transition-fast all ease);
    display: inline-block;
    padding: 0.3em 0;
    color: $medium-gray;
    text-align: center;

    &:focus,&:active,&:hover {
      background-color: #fff;
      color: $medium-gray;
    }
  }
}

/*Main navigation - bottom*/
nav.main {
  z-index: 15;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: $medium-gray;

  a {
    font-size: 20px;
    width: 20%;
    border-left: 1px solid $light-gray;
    color: #fff;

    &:first-child {
      border-left: none;
    }

    &.active {
      background-color: $dark-gray;
    }
    &:focus,&:active,&:hover {
      color: $medium-gray;
    }
  }
}

body.events-show nav.main {
  display: none;
}

/*Day navigation - top*/
nav.day {
  text-align: justify;
  text-align-last: justify;
  a {
    display: inline-block;
    min-width: 30px;
    width: 11.1875%;
    margin-right: 1.5%;

    line-height: 25px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;

    border: 1px solid $medium-gray;
    cursor: pointer;

    &.active,&:focus,&:active,&:hover {
      background-color: $medium-gray;
      color: #fff;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

/* Event navigation - second top*/
nav.events {
  @include outer-container;
  font-size: $base-font-size;
  padding: 0px 6px 8px 6px;
  a {
    @include span-columns(4);
    @include omega(3n);

    margin-top: 0.4em;

    line-height: 28px; /*was 35*/
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;

    color: #fff;
    border-width: 1px;
    border-style: solid;

    &[data-filter="red"] {
      background-color: $red;
      border-color: $red;
    }
    &[data-filter="green"] {
      background-color: $green;
      border-color: $green;
    }
    &[data-filter="yellow"] {
      background-color: $yellow;
      border-color: $yellow;
    }
    &[data-filter="blue"] {
      background-color: $blue;
      border-color: $blue;
    }
    &[data-filter="royal"] {
      background-color: $dark-blue;
      border-color: $dark-blue;
    }
    &[data-filter="gray"] {
      background-color: $medium-gray;
      border-color: $medium-gray;
    }
    &.filtered-out {
      background-color: #fff;
      color: $medium-gray;
    }
    &.active, &:focus, &:active, &:hover {
      transform: scale(0.97);
      color: #fff;
    }
  }
}

.detail-nav {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  height: 85px;
  width: 100%;
  box-sizing: border-box;
  background-color: $light-white;
}

.detail-nav > a {
  font-size: 10px;
  font-weight: 600;
  color: $dark-gray;
  font-size: 20px;
  margin: 20px 0 0 15px;
}
.detail-nav > h1 {
  @include title();
  display: inline-block;
  margin: 10px 0 0 15px;
  padding-top: 5px;
}
.detail-nav > p {
  @include small-bold-title();
  margin: 0 0 0 50px;
}
