/*activity date and time*/

.news-index {

  .call {
    color: $red;
    text-decoration: none;
    display: block;
    text-align: right;
    padding-right: 8px;

    span {
      @include small-bold-title;
      color: $dark-gray;
    }
    i {
      margin: 0 .2em 0 -.2em;
      position: relative;
      top: 4px;
      font-size: 1.2em;

      &.red {
        color: $red;
      }
      &.green {
        color: $green;
      }
      &.blue {
        color: $blue;
      }
    }
  }

  .news-entries {
    float: none;
    clear: both;

    .icon {
      float: left;
      width: 9%;
      max-width: 2em;
      font-size: 1.4em;
      color: #000;
    }
    .text {
      float: left;
      width: 85%;
      margin: 2px 16px 0 0;
    }
  }


  small {
    font-size: .5em;
  }
}
