.news-index {
  .emergency {
    @include span-columns(12);
    @include small-bold-title;
    cursor: pointer;
    text-align: right;
    color: $dark-gray;
    height: 2.5em;
    margin-top: 0.7em;

    .icon {
      height: 1.7em;
      width: 1.7em;
      vertical-align: bottom;

      svg {
        fill: $red;
      }
    }
  }

  .emergency-number {
    position: relative;

    .icon {
      position: relative;
      width: 2em;
      height: 2em;
    }

    a {
      color: #000;
      font-weight: 600;
    }
  }

  .news-entry {
    @include outer-container();

    .icon {
      max-width: 1.7em;
      height: 1.7em;
      @include span-columns(2);
    }

    .text {
      @include span-columns(10);
      padding-top: .3em;
    }
  }

  small {
    font-size: .5em;
  }

  .padded-row {
    border-top: 1px solid $light-gray;
    padding-top: 1em;
    margin-bottom: .4em;

    &:first-child {
      padding-top: .4em;
      margin-bottom: 0;
    }
  }
}
.emergency-box {
  display: none;

  .overlay {
    position: fixed;
    z-index: 16;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;

    .prompt {
      position: relative;
      width: 100%;
      /*margin: auto;
      margin-top: 4em;
      padding: 1.8em;
      background: #fff;
      box-shadow: 0 0 20px #000;*/

      label {
        margin: 1em 0 0 0;
      }

      .icon {
        display: block;
        width: 2em;
        position: absolute;
        right: 0.2em;
        top: 0.2em;
        cursor: pointer;

        svg {
          top: 0;
          transform: none;
          -webkit-transform: none;
        }
      }
    }
  }
}
