.news-index {
  h1 {
    margin-bottom: 0.5em;
  }

  .emergency,
  .maps {
    @include span-columns(6);
    @include small-bold-title;

    padding: 0.4em 1em;
    color: $dark-gray;
    margin-top: 0.7em;

    .icon {
      height: 1.7em;
      width: 1.7em;
      vertical-align: bottom;
    }
  }

  .maps {
    text-align: right;
  }

  .emergency {
    svg {
      fill: $red;
    }
  }

  .news-entry {
    @include outer-container();

    .icon {
      max-width: 1.7em;
      height: 1.7em;
      @include span-columns(2);
    }

    .text {
      @include span-columns(10);
      padding-top: .3em;
    }
  }

  small {
    font-size: .5em;
  }

  .padded-row {
    border-top: 1px solid $light-gray;
    padding-top: 1em;
    margin-bottom: .4em;

    &:first-child {
      padding-top: .4em;
      margin-bottom: 0;
    }
  }

  .pic-of-the-day {
    @include span-columns(4);
  }
}
