.sessions-new,
.sessions-create,
.onboarding-start,
.onboarding-finish,
.clearance-passwords,
.users-new,
.users-create
{
  height: calc(100% - 3.6em);

  #main-wrapper,
  .content {
    height: 100%;
  }

  margin: 1.8em auto;
  width: 80%;
  text-align: center;

  form {
    text-align: left;
  }

  h1 {
    margin: 0 0 .8em;
  }

  p {
    margin: .4em 0;
  }

  p.dots {
    font-size: 5em;
    font-family: monospace;
    line-height: 1em;
    margin: 0;
    padding-top: .2em;

    .green {
      color: $green;
    }
    .red {
      color: $red;
    }
    .blue {
      color: $blue;
    }
  }

  .actions,
  .other-links {
    text-align: center;
    margin: 1.5em 0em;

    a, input {
      width: 100%;
    }
  }

  .other-links a {
    display: block;

    & + a {
      margin-top: .5em;
    }
  }

  a {
    color: $base-font-color;
  }
}
