.users-show {
  .profile {
    @include outer-container();
  }

  .image {
    @include span-columns(4);
    padding: .4em .5em;
  }
  .info {
    @include span-columns(8);
  }

  .avatar {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }

  .links {
    li {
      padding: .2em 0;
      font-size: 1em;
    }

    .icon {
      height: 1.5em;
      width: 1.5em;
    }
    a {
      vertical-align: top;
    }
  }
}

.users.users-edit,
.users.users-update,
{
  form {
    .user_avatar img {
      border-radius: 100%;
    }
  }
}

.logout {
  width: 100%;
  text-align: center;
  padding: 2em 0;
  a {
    color: #fff;
  }
}
