/*navigation*/
.detail-nav {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  height: 85px;
  width: 100%;
  box-sizing: border-box;
  background-color: $light-white;
}

.detail-nav > a {
  font-size: 10px;
  font-weight: 600;
  color: $dark-gray;
  font-size: 20px;
  margin: 20px 0 0 15px;
}
.detail-nav > h1 {
  display: inline-block;
  font-size: $detail-title-size;
  font-weight: 300;
  margin: 10px 0 0 15px;
  padding-top: 5px;
}
.detail-nav > p {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 0 50px;
}
/*title picture*/
.title-pic { 
  z-index: 0;
  position: fixed;
  top: 85px;
  right: 0;
  height: 180px;
  width: 100%;
}

.title-pic img{ 
}

/*activity-details*/
.activity-details{
  z-index: 2;
  position: relative;
  margin-top: 265px;
  background-color: #fff;
}