/*navigation*/
.detail-nav {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  height: 85px;
  width: 100%;
  box-sizing: border-box;
  background-color: $light-white;
}

.detail-nav > a {
  font-size: 10px;
  font-weight: 600;
  color: $dark-gray;
  font-size: 20px;
  margin: 20px 0 0 15px;
}
.detail-nav > h1 {
  font-size: $detail-title-size;
  display: inline-block;
  font-weight: 300;
  margin: 10px 0 0 15px;
  padding-top: 5px;
}
.detail-nav > p {
  @include small-bold-title();
  margin: 0 0 0 50px;
}

/*title picture*/
.title-pic { 
  z-index: 0;
  position: fixed;
  top: 85px;
  right: 0;
  height: 180px;
  width: 100%;
}

.title-pic img{ 
}

/*activity-details -> event descripteion...*/
.activity-details{
  z-index: 2;
  position: relative;
  margin-top: 265px;
  background-color: #fff;

  .partipicate { 
    text-align: right;
    padding-right: 15px;
    width: 100%;
    position: absolute;
    top: -35px;
    color: #333;
    font-size: 1.3em;
    background: rgba(255,255,255,0.8);
    cursor: pointer;

    .checked{
      display: none;
    }
    &.yes {
      .checked{
        display: inline;
      }
      .unchecked {
        display: none;
      }
    }
  }

  ul {
    padding: 30px 0 0 12px;

    ul {
      padding: 0;
    }
  }
}

.activity-details .attendees > li {
  margin: 0;

  &.space {
    color: $red;
    .count {
      box-shadow: 0 0 20px -5px #535a6a;
      border-radius: 56px;
      width: 56px;
      height: 56px;
      margin: 0 2px 2px 2px;
      text-align: center;
      box-sizing: border-box;
      padding-top: 4px;
      font-size: 2em;
      font-weight: 300;
      color: #fff;
      background-color: $red;
    }
  }
}

.activity-details li {
  @include clearfix;
}
.activity-details .icon {
  float: left;
  width: 25px
}
.activity-details .text {
  float: left;
  width: 265px;
  margin: 0 16px 0 0;

}
.activity-details .text > h1 {
  margin: 4px 0 0 0;
  @include small-bold-title();
}
.activity-details .text > p {

}