<div class="detail-nav full-row">
  <%= back_or_default_link news_index_path, class: 'back' %>
  <div class="title">
    <h1><%= t '.title' %></h1>
    <h2><%= t '.subtitle' %></h2>
  </div>
</div>

<div class="padded-row">
  <div class="emergency-numbers">
    <ul>
        <li>
          <a href="tel:123">
            <img src="/assets/map.jpg">
          </a>
        </li>
    </ul>
  </div>
</div>
